<div class="app">
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h1 class="brand">Github Search</h1>
        </div>
        <div class="col-6 text-right">
          <ul class="nav-links">
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/history" routerLinkActive="active">History</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <hr class="header-line">

  <router-outlet></router-outlet>
</div>